langchain
ipykernel
python-dotenv
langchain_community
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
langchain-openai
chromadb
sentence_transformers
transformers
langchain_huggingface
torch
faiss-cpu